<div class="row">
<div class="col-md-4">
	<p>Bacon ipsum dolor amet in ground round cillum pastrami anim sirloin sausage, consectetur sed. Swine labore ex, voluptate qui hamburger adipisicing enim. Lorem meatloaf t-bone biltong adipisicing dolore hamburger. Short loin swine commodo tenderloin, tempor excepteur do sunt t-bone. Consectetur ex officia laborum, id voluptate reprehenderit. Venison jowl labore, beef ribs beef shank capicola.</p>
</div>

<form class="col-md-3" action="/" method="post">
<div class="form-group">
	<label for="birthdate">Enter your birthdate</label>
	<input class="form-control" name="birthdate" type ="date">
</div>

<br>

<input class="btn btn-primary" type="submit" />
</form>
</div>